<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReconEngine</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon48.ico">
    <link rel="stylesheet" href="https://use.typekit.net/tef2wpr.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="prism.css">
    <script src="prism.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
</head>
<body>

    <header>
        <div class="main-wrapper">
            <div class="h-line">
                <h1>Recon Engine</h1>
            </div>
            <div class="h-small">
                Recommendations fast and seamless.
            </div>
            <img src="assets/logo.svg" id="logo">
        </div>
    </header>

    <main>
        <section class="s-1">
            <div class="main-wrapper">
                <div class="two-col">
                    <div class="col">
                        <h2>What's Recon Engine?</h2>
                        <p>
                            Recommeder engines are used in every business nowadays. We integrate a fully-working artificial intelligence based recommender engine into your business and enable you to skyrocket your sales!
                        </p>
                    </div>
                    <div class="col">
                        <div class="col-img">
                            <img src="assets/ai.svg" id="ai-img">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s-1">
            <div class="main-wrapper">
                <div class="two-col">
                    <div class="col">
                        <h2>How does that work?</h2>
                        <p>
                            After registering your app, you can integrate our SDK and notify us whenever a customer takes an action. If you want to start recommending, just train a model in the cloud.
                        </p>
                    </div>
                    <div class="col">
                        <div class="col-img-big">
                            <img src="assets/desk.svg" id="desk-img">
                        </div>   
                    </div>
                </div>
            </div>
        </section>
        <section class="s-2">
            <div class="main-wrapper">
                <h2 class="c">Register your App now</h2>
                <p class="c">
                    Request your personal API key and integrate the service today. This token is used for identification and connecting to the recon cloud. 
                </p>
                <button class="bt-wide" onclick="showSetup()">
                    Setup
                </button>

                <div class="showInstruction">
                    <p class="c">
                        Copy your API key.
                    </p>
                    <div class="code-container" id="apiKey"></div>
                    <p class="c">
                        Now, you are ready to set up the SDK. Follow our <a href="/docs">Docs</a>.
                    </p>
                </div>
            </div>
        </section>
        <section class="s-1">
            <div class="main-wrapper">
                <h2>Features</h2>
                <div class="two-col">
                    <div class="col">
                        <div class="card">
                            <div class="card-heading">Cloud Based</div>
                            <div class="card-text">We are fully cloud based. We operate in the cloud and store everything in the cloud.</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-heading">Machine Learning</div>
                            <div class="card-text">For your recommender engine we use state of the art machine learning tools.</div>
                        </div>
                    </div>
                </div>
                <div class="two-col">
                    <div class="col">
                        <div class="card">
                            <div class="card-heading">Fast</div>
                            <div class="card-text">We use algorithms for our recommender engine that are very fast at recommending items.</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-heading">Easy to use</div>
                            <div class="card-text">Only five lines of code are needed to integrate our SDK, so that you can fully focus on your business.</div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
    </main>

    <footer>
        <div class="main-wrapper">
            <div class="footer-conatiner">
                <div class="footer-col">
                    <div class="footer-heading">About</div>
                    <div class="footer-list">
                        <div class="footer-text">
                            <a href="#">Recon Engine</a>
                        </div>
                        <div class="footer-text">
                            <a href="#">Algorithm</a>
                        </div>
                    </div>
                </div>
                <div class="footer-col">
                    <div class="footer-heading">Docs</div>
                    <div class="footer-list">
                        <div class="footer-text">
                            <a href="/docs">For Developers</a>
                        </div>
                        <div class="footer-text">
                            <a href="/docs">Installation</a>
                        </div>
                        <div class="footer-text">
                            <a href="/">API Key</a>
                        </div>
                    </div>
                </div>
                <div class="footer-col">
                    <div class="footer-heading">Contact</div>
                    <div class="footer-text">
                        <a href="mailto:mitterdorfer.moritz@gmail.com">Email</a>
                    </div>
                    <div class="footer-text">
                        <a href="#">Support</a>
                    </div>
                </div>
            </div>
            <div class="footer-footer">
                &copy; 2020 Recon Engine. <br>
                <div class="footer-linklist">
                    <a href="#">Impress</a>, 
                    <a href="#">Cookie Policy</a>, 
                    <a href="#">Data Policy</a>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>